<script type="text/x-handlebars" data-template-name="tronnet-main-section-resume">	
	<div class="container resume">
		<div class="row-fluid">
		
			<div class="span12">
				<!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit">
					<div class="row-fluid resume-header">
						<div class="span2"></div>
						<div class="span8 resume-header-title-container">
							<h1>resume summary</h1>
						</div>
						<div class="span2 resume-resume-btn-container">
							<p><a href="assets/files/Resume.pdf" class="btn btn-full-resume">Full Resume &raquo;</a></p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6 resume-section left">
							<div class="subsection top">
								<div class="tn-about-me-avatar"></div>
								<h2>Sean Murray</h2>
								<h3>Developer</h3>
							</div>
							<div class="subsection middle">
								<h2>About me</h2>
								<p>I&apos;ve been fortunate enough to have had an extensive 6+ year career in application and web development.
									Between employment, school, and various side projects, I&apos;ve gained tremendous experience 
									in programming, architecture, deployment strategies and solutions, project management, co-development, 
									documentation, technical presentations, and more.</p>
							</div>
							<div class="subsection middle">
								<h2>Skillset</h2>
								
								<div class="skillset">
									<ul>
										<li><h3>Application Development</h3></li>
										<li><h3>Web Development</h3></li>
										<li><h3>System Administration</h3></li>
										<li><h3>Database Management</h3></li>
										<li><h3>R&D</h3></li>
										<li><h3>Aggressive development cycles</h3></li>
										<li><h3>Communication</h3></li>
										<li><h3>Team Player</h3></li>
									</ul>
								</div>
							</div>
							<div class="subsection bottom">
								<h2>Utilization</h2>
								
								<div class="utilization">
									<ul>
										<li><span class="title">Primary:</span> 
											Python, PHP [ImageMagick, Twig], Objective C, Java, Shell Scripts, Basic, Regular Expressions, 
											Javascript [jQuery, Ember.js, ajax], HTML5, CSS3 [less.css, sprites]</li>
										<li><span class="title">Supplementary:</span> 
											Apache, MySQL, Postgres, SOAP / WSDL, XML, XSLT, Adobe FLEX, Node.js, ffmpeg, bzr/svn/git</li>
										<li><span class="title">Methodology:</span>
										 	OOP, MVC, ORM, RESTful Web Services, SCRUM, Agile Development, Hub Spoke Model, 
											Extensible Architecture, multi-threaded archicture</li>
									</ul>
								</div>
								
								<div style="height:5px;"></div>
							</div>
						</div>
						
						<div class="span6 resume-section right">
							<div class="subsection top">
								<div class="experience-piece">
									<h2>IT Consultant</h2>
									<h3>2012</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Application Development</span></li>
											<li>Worked on a small team to design and develope a highly scalable online social media SAAS.</li>
											<li>Involved in and managed the conceptual, design and programming phases of the development cycle.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection middle">
								<div class="experience-piece">
									<h2>R&D Developer</h2>
									<h3>2011</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Application Development</span></li>
											<li>Architect of fundamental pieces of an online social media SAAS.</li>
											<li>Charged with R&D for a POC (Proof Of Concept) and potential frameworks utilized throughout project.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2010</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Enterprise Software Development</span></li>
											<li>Designed and programmed functional pieces of an enterprise synchonization application.</li>
											<li>Managed and maintained key components in the application layer.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection middle">
								<div class="experience-piece">
									<h2>Developer</h2>
									<h3>2009</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Enterprise Software Development</span></li>
											<li>Built out integral pieces of an enterprise synchonization application.</li>
											<li>Interfaced secured, multi threaded communication between disparate systems and mapped data to a master schema.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2008</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Accounting Application Development</span></li>
											<li>Redeveloped applications utilized by billable consultants for invoicing and forecasting.</li>
											<li>Provided secured functions behind SOAP layer which interacted with sensitive data.</li>
											<li>Performed database optimizations.</li>
										</ul>
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Management Application Development</span></li>
											<li>Created internal applications utilized by management for data streamlining and posture status.</li>
											<li>Deployed applications to desired specifications based on parameters provided by management.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2007</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">OS Development</span></li>
											<li>Developed simplified install scripts for an Enterprise Linux distro.</li>
											<li>Integrated interfaces for disparate applications to allow for streamlined administration.</li>
										</ul>
										
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Internal Development</span></li>
											<li>Designated to respond to and resolve tickets on issues involving internal systems.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection bottom">
								<div class="experience-piece">
									<h2>System Administator</h2>
									<h3>2004</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">System Administrator</span></li>
											<li>Managed and updated required modifications to internal user accounts.</li>
											<li>Interacted with employees via ticketing system or by phone on system issues.</li>
										</ul>
									</div>
								</div>
								<div style="height:4px;"></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		
		</div> <!-- /container -->

		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container" style="width:100%;">
					<footer style="margin-top: 12px;margin-left: 5px;">
						<p>&copy; Tronnet 2012</p>
					</footer>
				</div>
			</div>
		</div> <!-- /container -->
	</div>
</script>


<script type="text/x-handlebars" data-template-name="tronnet-main-section-sheet">	
	<div class="container resume">
		<div class="row-fluid">
		
			<div class="span12">
				<!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit">
					<div class="row-fluid resume-header">
						<div class="span2"></div>
						<div class="span8 resume-header-title-container">
							<h1>resume summary</h1>
						</div>
						<div class="span2 resume-resume-btn-container">
							<p><a href="assets/files/Resume.pdf" class="btn btn-full-resume">Full Resume &raquo;</a></p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6 resume-section left">
							<div class="subsection top">
								<div class="tn-about-me-avatar"></div>
								<h2>Sean Murray</h2>
								<h3>Developer</h3>
							</div>
							<div class="subsection middle">
								<h2>About me</h2>
								<p>I&apos;ve been fortunate enough to have had an extensive 6+ year career in application and web development.
									Between employment, school, and various side projects, I&apos;ve gained tremendous experience 
									in programming, architecture, deployment strategies and solutions, project management, co-development, 
									documentation, technical presentations, and more.</p>
							</div>
							<div class="subsection middle">
								<h2>Skillset</h2>
								
								<div class="skillset">
									<ul>
										<li><h3>Application Development</h3></li>
										<li><h3>Web Development</h3></li>
										<li><h3>System Administration</h3></li>
										<li><h3>Database Management</h3></li>
										<li><h3>R&D</h3></li>
										<li><h3>Aggressive development cycles</h3></li>
										<li><h3>Communication</h3></li>
										<li><h3>Team Player</h3></li>
									</ul>
								</div>
							</div>
							<div class="subsection bottom">
								<h2>Utilization</h2>
								
								<div class="utilization">
									<ul>
										<li><span class="title">Primary:</span> 
											Python, PHP [ImageMagick, Twig], Objective C, Java, Shell Scripts, Basic, Regular Expressions, 
											Javascript [jQuery, Ember.js, ajax], HTML5, CSS3 [less.css, sprites]</li>
										<li><span class="title">Supplementary:</span> 
											Apache, MySQL, Postgres, SOAP / WSDL, XML, XSLT, Adobe FLEX, Node.js, ffmpeg, bzr/svn/git</li>
										<li><span class="title">Methodology:</span>
										 	OOP, MVC, ORM, RESTful Web Services, SCRUM, Agile Development, Hub Spoke Model, 
											Extensible Architecture, multi-threaded archicture</li>
									</ul>
								</div>
								
								<div style="height:5px;"></div>
							</div>
						</div>
						
						<div class="span6 resume-section right">
							<div class="subsection top">
								<div class="experience-piece">
									<h2>IT Consultant</h2>
									<h3>2012</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Application Development</span></li>
											<li>Worked on a small team to design and develope a highly scalable online social media SAAS.</li>
											<li>Involved in and managed the conceptual, design and programming phases of the development cycle.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection middle">
								<div class="experience-piece">
									<h2>R&D Developer</h2>
									<h3>2011</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Application Development</span></li>
											<li>Architect of fundamental pieces of an online social media SAAS.</li>
											<li>Charged with R&D for a POC (Proof Of Concept) and potential frameworks utilized throughout project.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2010</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Enterprise Software Development</span></li>
											<li>Designed and programmed functional pieces of an enterprise synchonization application.</li>
											<li>Managed and maintained key components in the application layer.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection middle">
								<div class="experience-piece">
									<h2>Developer</h2>
									<h3>2009</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Enterprise Software Development</span></li>
											<li>Built out integral pieces of an enterprise synchonization application.</li>
											<li>Interfaced secured, multi threaded communication between disparate systems and mapped data to a master schema.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2008</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Accounting Application Development</span></li>
											<li>Redeveloped applications utilized by billable consultants for invoicing and forecasting.</li>
											<li>Provided secured functions behind SOAP layer which interacted with sensitive data.</li>
											<li>Performed database optimizations.</li>
										</ul>
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Management Application Development</span></li>
											<li>Created internal applications utilized by management for data streamlining and posture status.</li>
											<li>Deployed applications to desired specifications based on parameters provided by management.</li>
										</ul>
									</div>
								</div>
								<div class="experience-piece">
									<h3>2007</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">OS Development</span></li>
											<li>Developed simplified install scripts for an Enterprise Linux distro.</li>
											<li>Integrated interfaces for disparate applications to allow for streamlined administration.</li>
										</ul>
										
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">Internal Development</span></li>
											<li>Designated to respond to and resolve tickets on issues involving internal systems.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="subsection bottom">
								<div class="experience-piece">
									<h2>System Administator</h2>
									<h3>2004</h3>
									<div class="description">
										<ul>
											<li><span style="font-weight:bold;font-style:italic;">System Administrator</span></li>
											<li>Managed and updated required modifications to internal user accounts.</li>
											<li>Interacted with employees via ticketing system or by phone on system issues.</li>
										</ul>
									</div>
								</div>
								<div style="height:4px;"></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		
		</div> <!-- /container -->

		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container" style="width:100%;">
					<footer style="margin-top: 12px;margin-left: 5px;">
						<p>&copy; Tronnet 2012</p>
					</footer>
				</div>
			</div>
		</div> <!-- /container -->
	</div>
</script>