<script type="text/x-handlebars" data-template-name="tronnet-main-section-underconstruction">	
	<div class="container underconstruction">
		<div class="row-fluid">
		
			<div class="span12">
				<!-- Main hero unit for a primary marketing message or call to action -->
				<div class="hero-unit">
					<div class="row-fluid">
						<div class="span12 underconstruction-title">
							<h1>Under Construction</h1>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span12 underconstruction-title">
							<h2>Ohs no!</h2>
							<p>It appears that this section is still under construction.  Seeing as this site is brand spanking new, 
								I suspect this might happen somewhat frequently in the next couple weeks. Worry not, there will be 
								juicy tid bits and updates as time goes on, and hey, you will be the first to know, since I like 
								so much :)</p>
								<p><a class="btn" {{action loadBack}}>Go back &raquo;</a></p>
								
						</div>
					</div>
				</div>
				
			</div>
		
		</div> <!-- /container -->

		<div class="navbar navbar-fixed-bottom">
			<div class="navbar-inner">
				<div class="container" style="width:100%;">
					<footer style="margin-top: 12px;margin-left: 5px;">
						<p>&copy; Tronnet 2012</p>
					</footer>
				</div>
			</div>
		</div> <!-- /container -->
	</div>
</script>